<a href="https://colab.research.google.com/github/shubhamksingh1/WordTagging/blob/main/SimilarityMatrix/Word_Tagging_Similarity_Matrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/My Drive/updated_dataset_ner.csv")

In [ ]:
df.shape

(499, 3)

In [ ]:
df.head()

   SentenceID                Words         Tags
0           1          Pankaj Seth       person
1           1             MS Excel  tool_skills
2           1      Auto ARIMA Mode  tech_skills
3           1  logistic Regression  tech_skills
4           1   Sentiment Analysis  tech_skills

In [ ]:
df.tail()

     SentenceID                  Words           Tags
494          36                   JAVA    tech_skills
495          36                    TCS   organization
496          36                      2  exp_in_months
497          36  navneet.kaur7@tcs.com  contact_email
498          36             8054090200     contact_no

In [ ]:
df.describe(include='all')

        SentenceID Words         Tags
count   499.000000   499          499
unique         NaN   193            8
top            NaN   TCS  tech_skills
freq           NaN    35          226
mean     18.358717   NaN          NaN
std      10.892021   NaN          NaN
min       1.000000   NaN          NaN
25%       8.000000   NaN          NaN
50%      19.000000   NaN          NaN
75%      28.000000   NaN          NaN
max      36.000000   NaN          NaN

In [ ]:
df.drop(['SentenceID'],inplace=True,axis=1)

In [ ]:
df.head()

                 Words         Tags
0          Pankaj Seth       person
1             MS Excel  tool_skills
2      Auto ARIMA Mode  tech_skills
3  logistic Regression  tech_skills
4   Sentiment Analysis  tech_skills

In [ ]:
d1 = df.groupby(df['Tags'])['Words'].apply(','.join).reset_index()

In [ ]:
d1

            Tags                                              Words
0  contact_email  pankaj.seth@tcs.com,deepna.cp@tcs.com,debankur...
1     contact_no  9173685598,9400521890,8981532992,9887770063,78...
2  exp_in_months  28,2,6,4,5,2,3,5,2,2,4,2,4,4,5,5,5,5,4,5,5,5,5...
3     exp_in_yrs                          8,4,3,3,8,1,1,1.5,2,1.5,1
4   organization  TCS,TCS,TCS,TCS,TCS,TCS,TCS,TCS,TCS,TCS,TATA C...
5         person  Pankaj Seth,DEEPNA CP,DEBANKUR SAHA,Shruti Mah...
6    tech_skills  Auto ARIMA Mode,logistic Regression,Sentiment ...
7    tool_skills  MS Excel,Power BI,Qlik Sense,SAS,Eclipse,Git,V...

In [ ]:
arrlist = [0 for i in range(d1.shape[0])]
print(arrlist)

[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
np.array([arrlist])

array([[0, 0, 0, 0, 0, 0, 0, 0]])

In [ ]:
def cleaning_text(inp):
    corpus = []
    reply = str(inp).strip()
    reply = reply.lower()
    reply = reply.split(",")
    reply = list(set(reply))
    return reply

In [ ]:
d1['Words'] = d1['Words'].apply(lambda x: cleaning_text(x))

In [ ]:
d1

            Tags                                              Words
0  contact_email  [vishal.malviy@tcs.com, kumar.manish31@tcs.com...
1     contact_no  [9893087460, 9923117749, 9009316403, 987326322...
2  exp_in_months                                [2, 3, 28, 5, 4, 6]
3     exp_in_yrs                               [2, 8, 1.5, 3, 4, 1]
4   organization               [tcs, tata consultancy services ltd]
5         person  [gunjan, stuti nigam, ishank goel, debankur sa...
6    tech_skills  [, plsql, core java, logistic regression, c++,...
7    tool_skills  [atom, sap, eclipse, anakonda, angularjs, etl,...

In [ ]:
inp = input("Enter the value : ")

Enter the value : Google Cloud

In [ ]:
val_to_search = inp.lower().strip()

In [ ]:
found = 0;

In [ ]:
for i in range(d1.shape[0]):
    if val_to_search in d1['Words'][i]:
        found=1
        print(d1['Tags'][i])
        break;

In [ ]:
found

0

In [ ]:
import spacy
nlp = spacy.load('en')

In [ ]:
import numpy as np

In [ ]:
df_spacy_sim = pd.DataFrame(np.array([[0,0,0,0,0,0,0,0]]),columns=d1['Tags'].values)
df_spacy_sim = df_spacy_sim.fillna(0)

In [ ]:
df_spacy_sim

   contact_email  contact_no  exp_in_months  ...  person  tech_skills  tool_skills
0              0           0              0  ...       0            0            0

[1 rows x 8 columns]

In [ ]:
df_spacy_sim[0:1][d1['Tags'][0]][0] == 0

True

In [ ]:
df_spacy_sim.shape

(1, 8)

In [ ]:
for i in range(len(d1['Tags'])):
    set_A = d1['Words'][i]
    catA_string=' '.join(set_A)
    docA = nlp(catA_string)
    docInp = nlp(val_to_search)
    similarity = docA.similarity(docInp)
    similarity = similarity * 100
    if df_spacy_sim[0:1][d1['Tags'][i]][0]== 0:
            df_spacy_sim[0:1][d1['Tags'][i]][0]= similarity

/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/lib/python3.6/runpy.py:193: ModelsWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  "__main__", mod_spec)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_spacy_sim

   contact_email  contact_no  exp_in_months  ...  person  tech_skills  tool_skills
0             35          27             11  ...      56           67           65

[1 rows x 8 columns]

In [ ]:
d1['Words'][6]

['',
 'plsql',
 'core java',
 'logistic regression',
 'c++',
 '.net',
 'angularjs',
 'node.js',
 'hadoop',
 'vba',
 'html',
 'java',
 'python3',
 'angular2',
 'nodejs',
 'c',
 'ao',
 'j2ee',
 'auto arima mode',
 'c#',
 'javascript',
 'postgresql',
 'pycharm',
 'android',
 'css3',
 'spring',
 'css',
 'xml',
 'sentiment analysis',
 'angular js',
 'pl/sql',
 'php',
 'j2se',
 'unix',
 'sql',
 'python',
 'angular 2',
 'node js',
 'oracle',
 'asp.net']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
# def compute_similarity(str1,str2):
#     train = [str1,str2]
#     #Define a Count Vectorizer Object
#     vector = TfidfVectorizer()

#     #Construct the required TF-IDF matrix by fitting and transforming the data
#     tfidf_matrix = vector.fit_transform(train)

#     cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
#     return cosine_sim

In [ ]:
def compute_similarity(str1,str2):
    train = [str1,str2]
    #Define a Count Vectorizer Object
    countvector = CountVectorizer()

    #Construct the required TF-IDF matrix by fitting and transforming the data
    count_matrix = countvector.fit_transform(train)

    cosine_sim = cosine_similarity(count_matrix, count_matrix)
    return cosine_sim

In [ ]:
arrlist = [0 for i in range(d1.shape[0])]

In [ ]:
df_cos_sim = pd.DataFrame(np.array([arrlist]),columns=d1['Tags'].values)
df_cos_sim = df_cos_sim.fillna(0)

In [ ]:
df_cos_sim

   contact_email  contact_no  exp_in_months  ...  person  tech_skills  tool_skills
0              0           0              0  ...       0            0            0

[1 rows x 8 columns]

In [ ]:
type(val_to_search)

str

In [ ]:
for i in range(len(d1['Tags'])):
    set_A = d1['Words'][i]
    catA_string=' '.join(set_A)
    catInp = val_to_search
    similarity = compute_similarity(catA_string,catInp)[0][1]
    similarity = similarity * 100
    if df_cos_sim[0:1][d1['Tags'][i]][0]== 0:
            df_cos_sim[0:1][d1['Tags'][i]][0]= similarity

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_cos_sim

   contact_email  contact_no  exp_in_months  ...  person  tech_skills  tool_skills
0              0           0              0  ...       0            0           19

[1 rows x 8 columns]

In [ ]:
result = df_cos_sim.idxmax(axis=1)[0]

In [ ]:
df_cos_sim.max(axis=1)[0]

19

In [ ]:
result

'tool_skills'